{
    "Budget": {
        "Kos": 3500.00,
        "Huur Elektrisiteit": 10000.00,
        "Brandstof": 900.00,
        "Uiteet Bederf": 0.0,
        "Online Shopping": 0.0,
        "Hardeware": 0.0,
        "Reis": 0.0,
        "Apteek Doktors":180.00,
        "Huis toerusting":0.0,
        "Skryfbehoeftes":0.0,
        "Internet Airtime":639.00,
        "Beleggings Bank":4774.0,
        "Discovery Medies":1690.00,
        "Subscriptions":251.00,
        "Kontant":0.0,
        "Spaar": 0.0,
        "Sundries":0.0,
        "Boeke":0.0,
        "Motors":0.0,
        "KunsKlasse":430.0
    }
}
